body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}

#page-navi {
    width:50%;
    margin:40px auto;
    margin-bottom:10px;
    padding: 0px;
    overflow: hidden;
}

#page-navi li {
    list-style: none;
    display: inline;
}

#page-navi li a {
    float: left;
    display: block;
    padding: 8px 10px;
    margin-right: 10px;
    text-decoration: none;
    background: #fff;
    -webkit-transition: background 200ms linear;
    transition: background 200ms linear;
    border-radius: .25rem;
    color:#000;
}

#page-navi li:last-child a {
    margin-right: 0px;
}

#page-navi li a.current,
#page-navi li a.disable,
#page-navi li a:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-bottom:3px solid #fff;
}

.portfolio-item {
    margin-bottom: 30px;
}

